@font-face {
    font-family: 'Open Sans', sans-serif;
}

/* /////////////////////////// */
/* OLD STYLE  */
/* /////////////////////////// */

body{
    background: white url("images/cadr.png");
}
.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Stisfy', cursive;
}
