@font-face {
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: sans-serif;
}

::selection {
    background: #dc3545;
    color: #fdfdfd;
}

::-moz-selection {
    background: #dc3545;
    color: #fdfdfd;
}

@media screen and (min-width:768px) {
    #sample-id .nav-item {
        font-size: 18px;
        padding: 2px 10px;
    }
    .newsletter-section {
        margin: 30px 10px !important;
    }
}

.custom-h2-title::after {
    content: '';
    height: 2px;
    background-color: #dc3545;
    width: 100px;
    display: inline-block;
    position: absolute;
    top: 70px;
    left: calc(50% - 50px);
}
.product-container .card {
    transition: 1s;
}

.product-container .card:hover {
    -moz-box-shadow: 5px 5px 20px #999;
    -webkit-box-shadow: 5px 5px 20px #999;
    box-shadow: 5px 5px 20px #999;
    cursor: pointer;
    transform: translateY(-5px);

}

.newsletter-section {
    margin: 100px 10px;
}
/* /////////////////////////// */
/* OLD STYLE  */
/* /////////////////////////// */

body{
    /* background: white url("images/cadr.png"); */
}

.navbar{
    border-radius: 5;
}

.navbar-brand{
    font-family: 'Stisfy', cursive;
}
