<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27305032-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-27305032-1');
    </script>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Gineau {% block title %}{% endblock %}</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon.png" %}">

    <!-- Open graph goes here for activate Rich link preview-->
    <meta property="og:title" content="gineau.com Designing and making handmade leather products" />
    <meta property="og:type" content="image/jpeg" />
    <meta property="og:url" content="http://gineau.com" />
    <meta property="og:image" content="{% static "images/logo.png" %}" />
    <meta property="og:image:width" content="350" />
    <meta property="og:description" content="Designing and making handmade leather products" />
    <meta property="og:determiner" content="the" />
    <!-- OG Meta tags ends here -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- open sans font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- owl caroucel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark border-bottm mb-5">
                    <a href="http://gineau.com" class="navbar-brand text-danger">
                        <img src="{% static "images/gineau_nav.png" %}" alt="gineau logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="responsive">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="{% url 'products:womenlistview' %}" class="nav-link">Women</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'products:menlistview' %}" class="nav-link">Men</a>
                            </li>

                        </ul>
                        <button data-toggle="modal" data-target="#custom-modal"
                            class="btn btn-danger">Newsletter</button>
                    </div>
                </nav>

                <div class="modal fade" id="custom-modal">
                    <div class="modal-dialog modal-sm modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-danger">Newsletter</h4>
                                <button type="button" class="close m-1 p-1" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">

                                {% block top_email_form %}
                                {%  endblock %}

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>

        {% block content %}
        {% endblock %}


    </main>
    <!-- ------------ start of footer --------------- -->
    <footer class="container-fluid bg-dark text-light mt-3 custom-border-top">
        <div class="container">
            <div class="row p-3">
                <div class="col-sm-6 col-md-4 widget-box">
                    <h5 class="widget-title py-2" id="contacts">About Us</h5>
                    <p class="text-justify">
                        Gineau has designed and produced high quality handmade leather products for more than 7 years.
                        We are obsessed with details and every single detail is crucial to make a perfect product.
                        The approach that are the most prefered is a great user experience.
                    </p>

                </div>
                <div class="col-sm-6 col-md-4 widget-box">
                    <h5 class="widget-title py-2">Contcat Us</h5>
                    <p>
                        <i class="fa fa-envelope"></i>&nbsp;info@gineau.com</p>
                </div>

                <div class="col-sm-6 col-md-4 widget-box">
                    <h5 class="widget-title py-2">Follow Us</h5>
                    <div class="social-network">
                        <a href="https://t.me/gineau">
                            <i class="fa fa-send"></i>
                        </a>
                        <a href="https://instagram.com/gineaudesign">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="https://facebook.com/gineaudesign">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com/gineaudesign">
                            <i class="fa fa-twitter"></i>
                        </a>


                    </div>

                </div>

            </div>
        </div>

    </footer>
    <!-- jQuery library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- <script src="owlcarousel/owl.gacarousel.min.js"></script> -->

    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <script src="{% static 'js/wow.min.js' %}"></script>
    <script>
        new WOW().init();
    </script>
</body>