<head>
  <!-- this call the base.html-->
  {% extends 'products/base.html' %}
  <!-- this change the name of page with the title block -->
  {% block title %}Product Detail{% endblock %}

</head>

{% block body %}
<div>
<h1>{{ product.productName }}</h1>
<ul>

  <!--we need for loop here to print all images -->
  <img src="/home/rahimz/gineau/gineau/media/f_01.jpg" class="img-responsive" />
  <img src="{{ product.imageMain.url }}" class="img-responsive" />


  <li>{{ product.productGenre }}</li>
  <li>{{ product.productGroup }}</li>
</ul>
</div>
{% endblock %}
