<head>
  <!-- this call the base.html-->
  {% extends 'products/base.html' %}
  <!-- this change the name of page with the title block -->
  {% block title %}Product Detail{% endblock %}
  {% load static %}
</head>

{% block top_email_form %}
<form method="post" action="" class="form-group" novalidate>
  <p class="">Put your email to get the latests from Gineau</p>
  <p><b>We never spam you!</b></p>
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-sm btn-outline-danger">Submit</button>
</form>
{%  endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row mt-5 pt-5 ">
    <div class="col-md-6 justify-content-center">
      <!--we need for loop here to print all images -->
      {% if product.productImage %}
      <img src="{{ product.productImage.url }}" style="width: 100%" class="img-detail" alt="{{ product.imageAlt }}" />
      {% else %}
      <img class="card-img-top" src="{% static 'images/noimage.png' %}" alt="Gineau has no image here">
      {% endif %}
    </div>
    <div class="col-md-6">
      <h2 class="text-muted ">{{ product.productName }}</h2>
      {% if product.productGenre == woman %}
      <span class="badge badge-warning">
        {{ product.productGenre }}
      </span>
      {% else %}
      <span class="badge badge-info">
        {{ product.productGenre }}
      </span>
      {% endif %}

      <span class="badge badge-success">
        {{ product.productGroup }}
      </span>

      <p class="lead py-2">
        {{ product.productDescript }}
      </p>
      <div class="btn-group">
        <button class="btn btn-sm btn-warning btn-warning" data-toggle="collapse" data-target="#size">Size</button>
        <button class="btn btn-sm btn-warning btn-warning" data-toggle="collapse"
          data-target="#features">Features</button>

      </div>
      <div id="size" class="collapse">
        <table class="table p-1 m-1">
          <thead>
            <tr class="table-secondary">
              <th>Height</th>
              <th>Width</th>
              <th>Depth</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-secondary">
              <td>{{ product.productSizeH }}</td>
              <td>{{ product.productSizeW }}</td>
              <td>{{ product.productSizeD }}</td>
            </tr>
          </tbody>

        </table>
      </div>

      <div id="features" class="collapse">
        <p class="tags lightgray p-1 m-1 ">
          {% for tag in product.tags.all %}
          <a href="{% url "products:product_list_by_tag" tag.slug %}" class="badge badge-danger">
            {{ tag.name }}
          </a>
          {% if not forloop.last %} {% endif %}
          {% endfor %}
        </p>
      </div>


    </div>
    <hr class="mute mt-5">
  </div>
  <!-- /.row of product image -->


  <!-- The start of thumbnail and slideshow of product extra image -->
  <div class="row justify-content-center my-md-5">
    <div class="col-md-2 ">
      <!-- Button to Open the Modal -->
      {% if product.image1 %}
      <button type="button" class="btn " data-toggle="modal" data-target="#image1Modal">
        <img src="{{ product.image1_thumb.url }}" style="width: 100%" class="img-detail" alt="{{ product.image1_alt }}" />
      </button>

      <!-- The Modal -->
      <div class="modal" id="image1Modal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{ product.productName }}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" align="center;">
              <img src="{{ product.image1.url }}" style="width: 100%" class="img-detail" alt="{{ product.image1_alt }}" />
            </div>

            <!-- Modal footer
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div> -->

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.imag-modal -->
      {% endif %}
    </div>
    <!-- /.col-md-2 -->

    <div class="col-md-2 ">
      <!-- Button to Open the Modal -->
      {% if product.image2 %}
      <button type="button" class="btn " data-toggle="modal" data-target="#image2Modal">
        <img src="{{ product.image2_thumb.url }}" style="width: 100%" class="img-detail" alt="{{ product.image2_alt }}" />
      </button>

      <!-- The Modal -->
      <div class="modal" id="image2Modal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{ product.productName }}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" align="center;">
              <img src="{{ product.image2.url }}" style="width: 100%" class="img-detail" alt="{{ product.image2_alt }}" />
            </div>

            <!-- Modal footer
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div> -->

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.imag-modal -->
      {% endif %}
    </div>
    <!-- /.col-md-2 -->
    <div class="col-md-2 ">
      <!-- Button to Open the Modal -->
      {% if product.image3 %}
      <button type="button" class="btn " data-toggle="modal" data-target="#image3Modal">
        <img src="{{ product.image3_thumb.url }}" style="width: 100%" class="img-detail" alt="{{ product.image3_alt }}" />
      </button>

      <!-- The Modal -->
      <div class="modal" id="image3Modal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{ product.productName }}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" align="center;">
              <img src="{{ product.image3.url }}" style="width: 100%" class="img-detail" alt="{{ product.image3_alt }}" />
            </div>

            <!-- Modal footer
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div> -->

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.imag-modal -->
      {% endif %}
    </div>
    <!-- /.col-md-2 -->

    <div class="col-md-2 ">
      <!-- Button to Open the Modal -->
      {% if product.image4 %}
      <button type="button" class="btn " data-toggle="modal" data-target="#image4Modal">
        <img src="{{ product.image4_thumb.url }}" style="width: 100%" class="img-detail" alt="{{ product.image4_alt }}" />
      </button>

      <!-- The Modal -->
      <div class="modal" id="image4Modal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{ product.productName }}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" align="center;">
              <img src="{{ product.image4.url }}" style="width: 100%" class="img-detail" alt="{{ product.image4_alt }}" />
            </div>

            <!-- Modal footer
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div> -->

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.imag-modal -->
      {% endif %}
    </div>
    <!-- /.col-md-2 -->
    <div class="col-md-2 ">
      <!-- Button to Open the Modal -->
      {% if product.image5 %}
      <button type="button" class="btn " data-toggle="modal" data-target="#image5Modal">
        <img src="{{ product.image5_thumb.url }}" style="width: 100%" class="img-detail" alt="{{ product.image5_alt }}" />
      </button>

      <!-- The Modal -->
      <div class="modal" id="image5Modal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{ product.productName }}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" align="center;">
              <img src="{{ product.image5.url }}" style="width: 100%" class="img-detail" alt="{{ product.image5_alt }}" />
            </div>

            <!-- Modal footer
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div> -->

          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.imag-modal -->
      {% endif %}
    </div>
    <!-- /.col-md-2 -->


  </div>
  <!-- /.row of slider -->
</div>
<!-- /.container  -->
{% endblock %}