<head>
  <!-- this call the base.html-->
  {% extends 'products/base_n.html' %}
  <!-- this change the name of page with the title block -->
  {% block title %}Product Detail{% endblock %}

</head>

{% block content %}

<div class="container mt-5">
  <div class="row mt-5 pt-5 ">
    <div class="col-md-6 justify-content-center">
      <!--we need for loop here to print all images -->
      <!-- <img src="/home/rahimz/gineau/gineau/media/f_01.jpg" class="img-responsive" /> -->
      <img src="{{ product.productImage.url }}" style="width: 100%" class="img-detail" alt="{{ product.imageAlt }}" />
    </div>
    <div class="col-md-6">
      <h2 class="text-muted ">{{ product.productName }}</h2>

      <p class="lead py-2">
        {{ product.productDescript }}
      </p>
      <span class="label label-info bg-warning">
        {{ product.productGenre }}
      </span>
      <span class="label label-success">
        {{ product.productGroup }}
      </span>
    </div>

  </div>
</div>

<div>


</div>
{% endblock %}