{% extends 'products/base.html' %}

{% block title %}Product Detail{% endblock %}

{% load static %}

{% block top_email_form %}
<form method="post" action="" class="form-group" novalidate>
    <p class="">Put your email to get the latests from Gineau</p>
    <p><b>We never spam you!</b></p>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-sm btn-outline-danger">Submit</button>
</form>
{%  endblock %}

{% block content %}

<div id="carousel-sample" class="carousel slide mt-5" data-ride="carousel">
    <div class="carousel-inner" style="height: 40vw">
        {% for slider in sliders|slice:":3" %}
        {% if forloop.first %}
        <div class="carousel-item active h-100">
            {% else %}
            <div class="carousel-item h-100">
                {% endif %}
                <img class="d-block w-100 h-100" src="{{ slider.image.url }}" />
                <a href="{% url 'products:detail' slider.title %}">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ slider.title }}</h5>
                        <p>{{ slider.description }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}


        </div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-sample" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-sample" data-slide-to="1"></li>
            <li data-target="#carousel-sample" data-slide-to="2"></li>
        </ol>
        <a class="carousel-control-prev" href="#carousel-sample" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carousel-sample" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <!-- ------------ start of Woman products --------------- -->
    <div class="container product-container position-relative">
        <h2 class="text-muted text-center py-4 custom-h2-title">Women's Products</h2>
        <div class="row wow fadeInUp">
            {% if products_w %}
            {% for product in products_w %}

            <div class="col-sm-6 col-lg-3">
                <div class="card mt-3">
                    {% if product.productImage %}
                    <img class="card-img-top" src="{{ product.productImage.url }}" alt="{{ product.imageAlt }}">

                    {% else %}
                    <img class="card-img-top" src="{% static 'images/noimage.png' %}" alt="Gineau has no image here">
                    {% endif %}

                    <a href="{{ product.get_absolute_url }} ">
                        <div class="card-body">
                            <h4 class="card-title text-danger">{{ product.productName }}</h4>
                            <p class="card-text">{{ product.productDescript|truncatewords:15 }}</p>
                            <button class="btn btn-sm btn-outline-danger">more...</button>
                        </div>
                    </a>
 
                </div>
            </div>
            {% endfor %}

            {% else %}
            <p class="lead center">No products are available.</p>
            {% endif %}

        </div>
    </div>

    <!-- ------------ start of Men products --------------- -->
    <div class="container product-container position-relative">
        <h2 class="text-muted text-center py-4 custom-h2-title">Men's Products</h2>
        <div class="row wow fadeInUp">
            {% if products_m %}
            {% for product in products_m %}

            <div class="col-sm-6 col-lg-3">
                <div class="card mt-3">
                    {% if product.productImage %}
                    <img class="card-img-top" src="{{ product.productImage.url }}" alt="{{ product.imageAlt }}">

                    {% else %}
                    <img class="card-img-top" src="{% static 'images/noimage.png' %}" alt="Gineau has no image here">
                    {% endif %}

                    <a href="{{ product.get_absolute_url }} ">
                            <div class="card-body">
                                <h4 class="card-title text-danger">{{ product.productName }}</h4>
                                <p class="card-text">{{ product.productDescript|truncatewords:15 }}</p>
                                <button class="btn btn-sm btn-outline-danger">more...</button>
                            </div>
                        </a>
                </div>
            </div>
            {% endfor %}

            {% else %}
            <p class="lead center">No products are available.</p>
            {% endif %}

        </div>
    </div>

    {% endblock %}