<head>
  <!-- this call the base.html-->
  {% extends 'products/base.html' %}

  <!-- this change the name of page with the title block -->
  {% block title %}Product Details{% endblock %}

</head>
<body>
{% block body %}

  {% if latest_product_list %}
      <ul>
      {% for product in latest_product_list %}
          <li>
            <a href="{% url 'products:detail' product.id %}">{{ product.productName }}</a>
          </li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No products are available.</p>
  {% endif %}

</body>
{% endblock %}
