<head>

    {% extends 'products/base_n.html' %}

    {% block title %}Product List{% endblock %}

    {% load static %}

</head>

{% block content %}
<!-- ------------ start of Woman products --------------- -->
<div class="container product-container position-relative">
    <h1 class="text-muted text-center mt-5 py-4 custom-h2-title">Women's Products</h2>
        <div class="row wow fadeInUp">
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/sample_01.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-danger">product name</h4>
                        <p class="card-text">descriptions of the product and more </p>
                        <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/sample_02.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-danger">product name</h4>
                        <p class="card-text">descriptions of the product and more </p>
                        <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/sample_03.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-danger">product name</h4>
                        <p class="card-text">descriptions of the product and more </p>
                        <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/sample_04.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-danger">product name</h4>
                        <p class="card-text">descriptions of the product and more </p>
                        <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/sample_04.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-danger">product name</h4>
                        <p class="card-text">descriptions of the product and more </p>
                        <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/sample_04.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-danger">product name</h4>
                        <p class="card-text">descriptions of the product and more </p>
                        <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/sample_04.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-danger">product name</h4>
                        <p class="card-text">descriptions of the product and more </p>
                        <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/sample_04.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-danger">product name</h4>
                        <p class="card-text">descriptions of the product and more </p>
                        <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/sample_02.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-danger">product name</h4>
                        <p class="card-text">descriptions of the product and more </p>
                        <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/sample_02.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-danger">product name</h4>
                        <p class="card-text">descriptions of the product and more </p>
                        <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/sample_02.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-danger">product name</h4>
                        <p class="card-text">descriptions of the product and more </p>
                        <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="{% static 'images/sample_02.jpg' %}" alt="">
                    <div class="card-body">
                        <h4 class="card-title text-danger">product name</h4>
                        <p class="card-text">descriptions of the product and more </p>
                        <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                    </div>
                </div>
            </div>
        </div>
</div>


<!-- ------------ start of Men products --------------- -->
<div class="container product-container position-relative">
    <h2 class="text-muted text-center py-4 custom-h2-title">Men's Products</h2>
    <div class="row wow fadeInUp">
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/sample_04.jpg' %}" alt="">
                <div class="card-body">
                    <h4 class="card-title text-danger">product name</h4>
                    <p class="card-text">descriptions of the product and more </p>
                    <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/sample_03.jpg' %}" alt="">
                <div class="card-body">
                    <h4 class="card-title text-danger">product name</h4>
                    <p class="card-text">descriptions of the product and more </p>
                    <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/sample_01.jpg' %}" alt="">
                <div class="card-body">
                    <h4 class="card-title text-danger">product name</h4>
                    <p class="card-text">descriptions of the product and more </p>
                    <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'images/sample_02.jpg' %}" alt="">
                <div class="card-body">
                    <h4 class="card-title text-danger">product name</h4>
                    <p class="card-text">descriptions of the product and more </p>
                    <a href="#" class="btn btn-sm btn-outline-danger">more...</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}